body {
  background-color: black;
  font-style: bold;
  text-align: center;
  color: rgb(215, 218, 220);
}

header {
  width: 80%;
  margin: auto;
  border: white 1px solid; 
  border-radius: 20px;
  margin-bottom: 20px;
  margin-top: 20px;
  padding: 5px;
  text-decoration: bold;
}

.boxes {
  width: 700px;
  margin: auto;
  border: white 1px solid;
  border-radius: 20px;
  text-align: center;
  margin-bottom: 20px;
  padding: 5px;
}

.boxes span{
  border: white 1px solid;
  border-radius: 20px;
  padding: 0 1.2rem;
  margin: .5rem;
}

h1 {
  text-decoration: underline;
}

h3 {
  text-decoration: underline;
  color: white;
}

.happymenu:hover {
  background-color: #77B439;
}

.sadmenu:hover {
  background-color: #277B75;
}

.relaxedmenu:hover {
  background-color: #C77B40;
}

.goofymenu:hover{
  background-color: #B73A57;
}

.heckyeahmenu:hover{
  background-color: #E5FC26;
}

.happy{
  color: #77B439;
}

.happy:hover {
  color: #77B439;
  border: 2px solid
}

.sad:hover{
  color: #277B75;
  border: 2px solid
}

.sad{
  color: #277B75;
}

.relaxed{
  color:#C77B40;
}

.relaxed:hover{
  color:#C77B40;
  border: 2px solid
}

.goofy{
  color: #B73A57;
}

.goofy:hover{
  color: #B73A57;
  border: 2px solid
}

.heckyeah{
  color: #E5FC26;
}

.heckyeah:hover{
  color: #E5FC26;
  border: 2px solid
}
/* #banner {
  background: url(headphonesbanner.png);
  background-repeat: no-repeat;
  background: size 50%;
  height: 100px;

} */