{% extends 'base.jinja2' %}

{% block subtitle %}Retrieve a Song{% endblock subtitle %}

{% block content %}
<form method="GET">
    {% if error %}<span class="error">{{ error }}<br>{% endif %}
    <label for="song_name">Song name: </label><input type="text" id="code" name="song_name">
    <input type="submit" value="Search for Song!">
    {% if error %}<span class="error">{{ error }}<br>{% endif %}
    <label for="artist_name">Artist name: </label><input type="text" id="code" name="artist_name">
    <input type="submit" value="Search for Artist!">
</form>
{% endblock content %}
